<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
<body>
   <div class="container" ng-controller="lunchController">
     <h1>Lunch Checker</h1>
     <div class="form-group message bg-primary text-white">
       Please Note: Empty items, i.e. ", ," are NOT counted as an item in the list!
     </div>
         <div class="form-group">
             <input id="lunch-menu" type="text"
              style="border-color:{{messageColor}}"
              ng-model="list"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group">
             <button class="btn btn-default"
                      ng-click="checkList()">
             Check If Too Much
           </button>
         </div>
         <div class="form-group message {{alert}}">
           <!-- Your message can go here. -->
           {{message}}
         </div>
   </div>

</body>
</html>
